<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}Bloggart{% endblock %}</title>
  {% block style %}
  <link rel="stylesheet" type="text/css" media="screen" href="{{config.url_prefix}}/static/{{config.theme}}/css/screen.css" />
  <link href="{{config.url_prefix}}/static/{{config.theme}}/css/pretty/prettify.css" type="text/css" rel="stylesheet" />
  <link href="{{config.url_prefix}}/static/{{config.theme}}/css/pytagcloud.css" type="text/css" rel="stylesheet" />
  <script type="text/javascript" src="{{config.url_prefix}}/static/{{config.theme}}/css/pretty/prettify.js"></script>
  {% endblock %}
  {% if config.highlighting_style %}
  <link rel="stylesheet" type="text/css" media="screen" href="{{config.url_prefix}}/static/{{config.theme}}/css/pygments_{{config.highlighting_style}}.css" />
  {% endif %}
  <link rel="alternate" type="application/atom+xml" 
	href="{% if config.feed_proxy %}{{ config.feed_proxy }}{% else %}{{config.url_prefix}}/feeds/atom.xml{% endif %}" />
  <link rel="SHORTCUT ICON" href="{{config.url_prefix}}/static/{{config.theme}}/favicon.ico"/>
  {% if config.rel_me %}
  <link rel="me" href="{{config.rel_me}}" />
  {% endif %}

  {% if config.google_friends_id %}
  <!-- Include the Google Friend Connect javascript library. -->
  <script type="text/javascript" src="http://www.google.com/friendconnect/script/friendconnect.js"></script>
  {% endif %}

    <style type="text/css">
      @import "http://ajax.googleapis.com/ajax/libs/dojo/1.2.0/dojo/resources/dojo.css";
      @import "http://ajax.googleapis.com/ajax/libs/dojo/1.2.0/dijit/themes/tundra/tundra.css";
      @import "/staticfck/css/default.css";
    </style>

  <script type="text/javascript" src="/fckeditor/fckeditor.js"></script>
  <script type="text/javascript"
          src="http://ajax.googleapis.com/ajax/libs/dojo/1.2.0/dojo/dojo.xd.js"
          djConfig="parseOnLoad:true,isDebug:false"></script>
  <script type="text/javascript">
    dojo.require('dijit.layout.ContentPane');
    dojo.require('dijit.layout.TabContainer');
    dojo.require('dijit.form.Button');
  </script>
  <script type="text/javascript">
    /**
     * Parses the arguments out of the URL
     * @return {Object} A dictionary of key/value pairs of the arguments
     */
    function getArgs() {
      var args = {};
      var nvPairs = document.location.search.slice(1).split('&');

      for (var i = 0, param; param = nvPairs[i]; i++) {
        var nvPair = param.split("=");
        var name = unescape(nvPair[0]);
        var value = unescape(nvPair[1]);
        args[name] = value;
      }
      return args;
    }

    /**
     * Sets the body to be visible.  Called onload.
     */
    function showBody() {
      dojo.style(dojo.body(), "visibility", "visible");
    }

    /**
     * Selects a tab based on the fragement selected by #.
     */
    function selectTab() {
      var mainTabs = dijit.byId('mainTabs');
      var tabName = document.location.hash.replace(/^#/,'');
      tabName += 'Tab';
      var tabToSelect = dijit.byId(tabName);

      if (tabToSelect) {
        mainTabs.selectChild(tabToSelect);
      }
    }

    /**
     * Determines if a message should be displayed based on the m parameter in
     * the URL.  This parameter is the id of the div containing the message.
     * The method edits the div by wrapping its contents with five span tags
     * which are needed by the CSS, making it visible, and setting up a fade-out
     * animation.
     */
    function showMessage() {
      var args = getArgs();
      var message_id = args['m'];
      if (message_id) {
        var message = dojo.byId(message_id);
        var messageSpan = dojo.doc.createElement('span');
        messageSpan.innerHTML = message.innerHTML;
        for (var i = 0; i < 4; i++) {
          var newSpan = dojo.doc.createElement('span');
          newSpan.appendChild(messageSpan);
          messageSpan = newSpan;
        }
        message.innerHTML = '';
        message.appendChild(messageSpan);
        dojo.addClass(message, 'message');
        message.style.visibility = 'visible';
        dojo.fadeOut({node: message_id, duration: 2000, delay:10000}).play()
      }
    }
    
    function createEditor() {
      var oFCKeditor = new FCKeditor('editorHtml');
      oFCKeditor.BasePath = "/fckeditor/";
      oFCKeditor.Config["CustomConfigurationsPath"] = "/staticfck/js/fck_config.js";
      oFCKeditor.Height = 328;
      oFCKeditor.ToolbarSet = 'AESC_Toolbar';
      oFCKeditor.ReplaceTextarea();
    }

    dojo.addOnLoad(selectTab);
    dojo.addOnLoad(showMessage);
    dojo.addOnLoad(createEditor);
    dojo.addOnLoad(showBody);
  </script>


  {% block head %}{% endblock %}
</head>
<body onload="prettyPrint()">
	<div id="header-wrap"><div id="header" class="container_16">						
		<h1 id="logo-text"><a href="{{config.url_prefix}}/" title="">{{config.blog_name}}</a></h1>		
		<p id="intro">{{config.slogan}}</p>
		<div  id="nav">
			<ul>
				<li{% ifequal generator_class "IndexContentGenerator" %} id="current"{% endifequal %}><a href="{{config.url_prefix}}/">Home</a></li>
				<li{% ifequal generator_class "ArchiveIndexContentGenerator" %} id="current"{% else %}{% ifequal generator_class "ArchivePageContentGenerator" %} id="current"{% endifequal %}{% endifequal %}><a href="{{config.url_prefix}}/archive/">Archive</a></li>
        {% block menu %}{% endblock %}
			</ul>
		</div>		
		<div id="header-image"></div> 
    <form id="quick-search" action="{{config.url_prefix}}/search" method="get">
      <p>
        <label for="q">Search:</label>
        <input type="hidden" name="cref" value="http://{{config.host}}{{config.url_prefix}}/cse.xml" />
        <input type="hidden" name="cof" value="FORID:11" />
        <input type="hidden" name="ie" value="UTF-8" />
        <input class="tbox" type="text" name="q" size="31" />
        <input class="btn" type="image" name="sa" value="Search" src="{{config.url_prefix}}/static/{{config.theme}}/images/search.gif" alt="Search" />
      </p>
    </form>
    <script type="text/javascript" src="http://www.google.com/coop/cse/brand?form=quick-search&lang=en"></script>
	</div></div>
	<div id="content-outer"><div id="content-wrapper" class="container_16">
		<div id="main" class="grid_16">
      {% block body %}{% endblock %}
		</div>	
	</div></div>
	<div id="footer-wrapper" class="container_16">
		<div id="footer-bottom">
			<p class="bottom-left">			
			&nbsp; &copy; {{config.author_name}} &nbsp; &nbsp;
			Design by : <a href="http://www.styleshout.com/">styleshout</a>												
			</p>	
			<p class="bottom-right" >
				<a href="{{config.url_prefix}}/">Home</a> |
        <a href="{% if config.feed_proxy %}
	        {{ config.feed_proxy }}
	      {% else %}
	        {{config.url_prefix}}/feeds/atom.xml
	      {% endif %}">Atom</a> |
				<a href="http://jigsaw.w3.org/css-validator/check/referer">CSS</a> | 
		   	<a href="http://validator.w3.org/check/referer">XHTML</a>
			</p>
		</div>	
	</div>
{% if config.analytics_id and not devel and not is_admin %}
  <script type="text/javascript">
  var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
  document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
  </script>
  <script type="text/javascript">
  try {
  var pageTracker = _gat._getTracker("{{config.analytics_id}}");
  pageTracker._trackPageview();
  } catch(err) {}</script>
{% endif %}
</body>
</html>
